* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
// }

// .content {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div {
    border: 1px solid #000;
    width: 32%;

    img {
        width: 100%;
    }
}


.navbar{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    .list-first{
        padding-left: 40px;
        display: flex;
        width: 30%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        a{
            color: #000;
            text-decoration: none;
        }
    }

    .list-second{
        padding-right: 40px;
        height: 100%;
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .li{
            color: #000;
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                width: 35px;
            }
        }

        .blue{
            color: #7500fc;
        }
    }
}
